html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
  color: #ff8d1e;
}

li {
    display:inline-block;
    height: 90px;
    margin: 8px;
    align-self: center;
}

.board {
    margin: 30px auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 880px;
    height: 730px;
    border-radius: 10px;
    background-color: dodgerblue;
    transition: margin-bottom 1s;
  margin-bottom: -1000%;
}
.square {
    flex-basis: 88px;
    background-color: slategray;
    border: 6px #1eff8d solid;
    border-radius: 50%;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.7);
}

.square:hover {
    background-color: whitesmoke;
    box-shadow: inset 3px 3px 4px rgba(0,0,0,0.7);
}

.played {
    animation-name: drop-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
 
    /* animation-fill-mode: forwards; */
    flex-basis: 88px;
    height: 90px;
    /* border: 6px #49fb35 solid; */
    border-radius: 50%;
    margin-top: 0;
}

@keyframes drop-in {
  0% {
    margin-top: -1000%
  }

  100% {
    margin-top: 0;
  }
}


@keyframes drop-out {
  100% {
    transform: translateY(1000%);
  }
}


.red {
  background: #ff1e20;
}

.yellow {
  background: #fffe1e;
}

.winner-red .red,
.winner-yellow .yellow {
  background: #ff1e90;
}

.game-over  li {
  color: black;
  cursor: default;
  background: white;
  animation-name: drop-out;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

figcaption {
  font-size: 30px;
  margin-top: 20px;
}