html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

li {
    display:inline-block;
    height: 90px;
    margin: 8px;
    align-self: center;
}

.board {
    margin: 30px auto;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 880px;
    height: 730px;
    border-radius: 10px;
    background-color: dodgerblue;
}
.square {
    flex-basis: 88px;
    background-color: slategray;
    border: 6px #49fb35 solid;
    border-radius: 50%;
}

.square:hover {
    background-color: whitesmoke;
}

.played {
    animation-name: drop-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
 
    /* animation-fill-mode: forwards; */
    flex-basis: 88px;
    height: 90px;
    /* border: 6px #49fb35 solid; */
    border-radius: 50%;
    margin-top: 0;
}

@keyframes drop-in {
  0% {
    margin-top: -1000%
  }

  100% {
    margin-top: 0;
  }
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.winner-red .red,
.winner-yellow .yellow {
  background: purple;
}

.game-over  li {
  color: black;
  cursor: default;
  background: white;
}

figcaption {
  font-size: 30px;
}